{% extends "dashboard/layout.html" %}

{% block title %}Create new post{% endblock %}

{% block content %}

<h1>Create new post</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Create" />
    <a href="{% url "dashboard:blog:list" %}">Cancel</a>
</form>
{% endblock %}