{% extends "dashboard/layout.html" %}

{% block title %}Delete post{% endblock %}

{% block content %}

<h2>Delete post</h2>


<p>Are you sure you want to delete post <strong>{{ post.title }}</strong>?</p>

<form action="{% url "dashboard:blog:delete" pk=post.id %}" method="POST">
    {% csrf_token %}

    <input type="submit" value="Delete" />
    <a href="{% url "dashboard:blog:list" %}">Cancel</a>
</form>
{% endblock %}