{% extends "dashboard/layout.html" %}

{% block title %}Edit post{% endblock %}

{% block content %}

<h1>Edit post</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Save" />
    <a href="{% url "dashboard:blog:list" %}">Cancel</a>
</form>

{% endblock %}