{% extends "dashboard/layout.html" %}

{% block title %}List posts{% endblock %}

{% block content %}
<h2>Blog list</h2>

<a href='{% url 'dashboard:blog:create' %}'>Create new</a><br />
<br />

<table>
<tr>
    <th>Title</th>
    <th>Status</th>
    <th>Action</th>
</tr>
{% for post in posts %}
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.get_status_display }}</td>
        <td>
            <a href="{% url 'dashboard:blog:edit' post.id %}">edit</a>
            <a href="{% url 'dashboard:blog:delete' post.id %}">delete</a>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="10">No posts yet</td>
    </tr>
{% endfor %}
</table>
{% endblock %}