{% extends 'layout.html' %}

{% block title %}Blog post '{{ post.title }}'{% endblock %}

{% block content %}
    <a href='/'>Back to all posts</a>

    <h1>{{ post.title }}</h1>
    {{ post.content|safe }}
{% endblock %}