{% extends 'layout.html' %}

{% block title %}Blog posts{% endblock %}

{% block content %}
This is the blog of the blogs!<br /><br />

    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        @ {{ post.date_created }} <br />
        <a href="{{ post.get_absolute_url }}">read the article</a>
    {% empty %}
        No posts yets
    {% endfor %}


    {% if is_paginated %}
        <br /><br />
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
        </div>
    {% endif %}

{% endblock %}
