{% extends 'dashboard/base.html' %}

{% block layout %}
    <h1><a href="{% url 'dashboard:home' %}">Dashboard</a></h1>

    <div style='text-align: right'>
        {% if user.is_authenticated %}
            Hi, {{ user }}. Click to <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login'%}?next={% url 'dashboard:home' %}">Click to login</a>
        {% endif %}
    </div>
    <hr />

    {% block content %}
    {% endblock %}

{% endblock %}